body {
background: white;
	overflow-x:hidden;
	max-width: 100vw;
}

html {
	height: 100%;
	max-width: 100vw;}

#logo {
	width: 70px;
	height: 70px;
	position: fixed;
	border: black solid 10px;
	z-index: 99;
}

#mobilenav {
	width: 80px;
	height: 80px;
	position: fixed;
	right: 0;
	margin: 0px;
	color: rgba(255,70,62,1);
	font-size: 36px;
	text-align: center;
	cursor:pointer;
	line-height: 80px;
	z-index: 3;
}

#header {
	width: 100vw;
}


#trigger {
	font-size:34px;
	cursor:pointer;
	position:fixed;
	z-index: 9;
	color:rgba(255,70,62);
	font-weight:bold;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background-color:rgba(255,70,62,0.97);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 22%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
	/*border:1px solid red;*/
}

.overlay a {
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    transition: 0.3s;
	text-transform:uppercase;
	font-weight:bold;
	font-family: Helvetica, sans-serif;
}

.overlay a:hover, .overlay a:focus {
    color:rgba(34,33,33,1.00);
}

.overlay a.current {
	color:rgba(34,33,33,1.00);
}

.closebtn {
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 46px !important;
	line-height:0px;
}

#mainimg {
	background-image: url(images/lesanges/header.jpg);
	width: 100%;
	height: 85vh;
	background-size: cover;
	background-position: top;
}

#triangle3 {
	width: 100%;
	height: 110px;
	position: relative;
	background-size: 100% 100%; /* This might not look the same anymore, but fixes a bug in wide screens */
	background-position: center;
	background-image: url(images/angles.png);
	margin-top: -109px;
}

#description1 {
	margin-top: -2px;
	margin-bottom: 11vw;
	position: relative;
	color: white;
	width: 100%;
	background-color: black;
}

.p1 {
	width: 60vw;
margin: auto;
padding-top: 80px;
padding-bottom: 80px;
line-height: 1.4em;
font-size: 1.25em;
text-align: center;
}

.vw70 {
	width: 60vw;
	margin: auto;
}

#video {
	height: 31.3vw;
}

#visit {
	color: grey;
	font-size: 1.25em;
	text-decoration: none;
}

#visitcntd {
	border: 1px grey solid;
	width: 130px;
	height: 40px;
	line-height: 40px;
	border-radius: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 6vw;
}

#visitcntd:hover {
	background-color: grey;
	color: white;
}

#icon1 {
	margin-left: 4vw;
}

.shadow {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

.icon {
	width: 15vw;
	display: inline-block;
	margin: 1.5vw;
}

.topspace {
	margin-top: 11vw;
}

.smallspace {
	margin-top: 8vw;
}

.formatting {
	width: 50vw;
	margin-right: 5vw;
	margin-left: 5vw;
	height: 100%;
}

#description2 {
	position: relative;
	color: white;
	width: 100%;
	background-color: black;
}

#bottomspace {
	height: 15vh;
	width: 100%;
	position: relative;
}

* {box-sizing: border-box}
body {font-family: Helvetica, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

footer{
	height: 8vh;
	width: 100vw;
	position: fixed;
	bottom: 0;
	background-color: #FF463E;
	line-height: 4.5vh;
	z-index: 99;
	padding-left: 20px;
}

#footerp{
	padding-left: 20px;
	color: white;
	display: inline-block;
}

#logof {
	height: 30px;
	width: 33px;
	display: inline-block;
	margin-top: -5px;
}

.social {
	height: 30px;
	width: 30px;
	display: inline-block;
	margin-top: 2vh;
	float: right;
	margin-right: 20px;
	cursor: pointer;
}


@media only screen and (max-width: 750px) {
    /* For mobile phones: */

		#logo {
			width: 60px;
			height: 60px;
			position: fixed;
			border: black solid 10px;
			z-index: 99;
		}

		#mobilenav {
			width: 60px;
			height: 60px;
			font-size: 36px;
			line-height: 60px;
		}

		.overlay a {
		    padding: 15px;
		    font-size: 26px;
		}

		.closebtn {
		    top: 20px;
		    right: 7px;
		    font-size: 46px !important;
		}

		#mainimg {
			width: 100vw;
			height: 65vh;
		}

		#triangle3 {
			width: 100%;
			height: 110px;
			position: relative;
			background-size: cover;
			background-position: center;
			margin-top: -109px;
			background-image: url(images/angles2.png);
		}

		.vw70 {
			width: 90vw;
			margin: auto;
		}

		.p1 {
			width: 80vw;
		margin: auto;
		padding-top: 8vw;
		padding-bottom: 8vw;
		line-height: 1.5em;
		font-size: 1em;
		}

		.formatting {
			width: 80vw;
			margin-right: 5vw;
			margin-left: 5vw;
			height: 100%;
		}

		footer{
			height: 8vh;
			line-height: 4.15vh;
		}

		footer, p{
			font-size: 14.5px;
		}

		#logof {
			height: 23px;
			width: 25px;
			margin-top: -2px;
		}

		.social {
			height: 25px;
			width: 25px;
			margin-top: 2.35vh;
		}

		.topspace {
			margin-top: 11vw;
		}

		.smallspace {
			margin-top: 8vw;
		}

		#icon1 {
			margin-left: 4vw;
		}

		.icon {
			width: 25vw;
			display: inline-block;
			padding: 1.5vw;
		}

		#video {
			height: 50vw;
		}

}
