#header {
    max-width: 100vw;
}


#navbar {
  background-color: #FBF5EF;
  position: fixed;
  width: 100vw;
  height: 8vh;
  z-index: 3;
  border-bottom: solid 1.5px #000000;
  top: 0;
}

#logo2 {
  width: auto;
  height: 6vh;
  margin-top: 1vh;
  margin-left: -0.5vw;
  opacity: 0;
}

#logo {
    width: auto;
    height: 6vh;
    margin-top: 1vh;
    margin-bottom: 20px;
    margin-left: 1vw;
    position: fixed;
    z-index: 3;
}

#mobilenav {
  width: 6vh;
  height: 6vh;
  position: fixed;
  right: 1.2vw;
  margin-top: 1vh;
  cursor: pointer;
  z-index: 3;
}

.closebtn {
    position: absolute;
    right: 1.2vw;
    top: 1vh;
    width: 6vh;
    height: 6vh;
    margin:0;
    cursor: pointer;
}

.collapsible {
  cursor: pointer;
  width: 100%;
	text-decoration: none;
	font-size: 4em;
	color: #5C61FF;
	transition: 0.3s;
  font-family: monarcha, serif;
font-weight: bold;
font-style: normal;
	border: none;
	border-style: hidden;
	shadow: none;
	outline: 0;
  padding-top: 16px;
  background-color: #D6D8FF;

}

.collapsible:visited {
	outline: 0;
}

.collapsible:link {
	outline: 0;
}

.collapsible:hover {
	color: #5C61FF;
	border: none;
	border-style: hidden;
  font-style: italic;
	shadow: hidden;
	outline: 0;
  background-color: #D6D8FF;
}

.collapsible:active {
	color: #5C61FF;
	border: none;
	border-style: hidden;
	shadow: hidden;
	outline: 0;
}

.content1 {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  font-family: Avenir Next, sans-serif;
  font-size: 1.5em;
  font-weight: normal;
}

.content1 a:visited {
  color: #5C61FF;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background-color: #D6D8FF;
    overflow-x: hidden;
    transition: 0.5s;
      cursor: url('images/cursor2.png'), auto;
}

.overlay-content {
    position: relative;
    top: 10%;
    text-align: center;
    margin-top: 20px;
    /*border:1px solid red;*/
}

.overlay a {
    padding: 10px;
    transition: 0.2s;
    text-decoration: none;

}

.block {
  display: block;
}

.major{
  font-family: monarcha, serif;
font-weight: bold;
font-style: normal;
font-size: 4em;
color: #5C61FF;
}

.overlay a:hover,
.overlay a:focus {
    color: #5C61FF;
    font-style: italic;
}

#sociallinks {
 margin: auto;
}


.social {
    height: 40px;
    width: 40px;
    margin-top: 2.35vh;
    margin-left: 10px;
}

.social:hover {
  opacity: 50%
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


@media only screen and (max-width: 750px) {
    /* For mobile phones: */

		.overlay a {
		    padding: 15px;
		}

    .major {
      font-size: 3em;
      line-height: 1;
    }

		.collapsible {
			padding: 15px;
      margin-top: 10px;
      line-height: 30pt;
		}

		.content1 {
			padding: 8px;
      line-height: 2;
			font-size: 1.2em;
		}

    .content1 a{
      display: block;
    }


    #logo2 {
      margin-left: -3vw;
      margin-top: 18px;
    }

    #logo {
        margin-left: 3.5vw;
        height: 6vh;
        margin-top: 1vh;
    }

    #mobilenav {
      right: 3vw;
    }

    .closebtn {
        right: 3vw;
    }


}
