body {
background: white;
	overflow-x:hidden;
}

#logo {
	width: 80px;
	height: 80px;
	position: fixed;
	border: black solid 10px;
	z-index: 99;
}


#mobilenav {
	width: 80px;
	height: 80px;
	position: fixed;
	right: 0;
	margin: 0px;
	color: rgba(255,70,62,1);
	font-size: 36px;
	text-align: center;
	cursor:pointer;
	line-height: 80px;
	z-index: 3;
}


#trigger {
	font-size:34px;
	cursor:pointer;
	position:fixed;
	z-index: 9;
	color:rgba(255,70,62);
	font-weight:bold;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background-color:rgba(255,70,62,0.97);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 22%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
	/*border:1px solid red;*/
}

.overlay a {
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    transition: 0.3s;
	text-transform:uppercase;
	font-weight:bold;
	font-family: Helvetica, sans-serif;
}

.overlay a:hover, .overlay a:focus {
    color:rgba(34,33,33,1.00);
}

.overlay a.current {
	color:rgba(34,33,33,1.00);
}

.closebtn {
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 46px !important;
	line-height:0px;
}

#triangle1 {
  border: 0 solid black;
  border-left-width: 50vw;
  border-top-width: 120px;
  border-top-color: transparent;
	position: relative;
	display: inline-block;
	z-index: -95;
}

#triangle2 {
  border: 0 solid black;
  border-right-width: 49.5vw;
  border-top-width: 120px;
  border-top-color: transparent;
	position: relative;
	display: inline-block;
	z-index: -95;
}

#blackbg {
	position: relative;
	width: 100%;
	background-color: black;
	margin-top: -4px;
	padding-left: 7vw;
	padding-right: 7vw;
	padding-top: 60px;
	padding-bottom: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.works {
	width: 300px;
	height: 250px;
	box-sizing: border-box;
	background-size: cover;
	background-position: center;
	display: inline-flex;
	margin: 20px;
	cursor: pointer;
}

#work1{
		background-image: url(images/works/carousel_web_bw.jpg);
}

#work1:hover{
		background-image: url(images/works/carousel_web_red.jpg);
}

#work1 p {
	color: black;
	font-size: 38px;
	transform: rotate(-90deg) translate(-15px, 270px);
}

#work2{
		background-image: url(images/works/river_parade_web_bw.jpg);
		cursor: pointer;
		text-decoration: none;
}

#work2:hover {
		color:yellow;
		background-image: url(images/works/river_parade_web_red.jpg);
}

#work2 p {
	color: black;
	font-size: 38px;
	overflow: hidden;
	box-sizing: border-box;
	transform: rotate(-90deg) translate(-15px, 238px);
}

#work3{
		background-image: url(images/works/les_anges_web_bw.jpg);
		cursor: pointer;
}

#work3:hover{
		background-image: url(images/works/les_anges_web_red.jpg);
}

#work3 p {
	color: black;
	font-size: 34px;
	transform: rotate(-90deg) translate(-10px, 230px);
}

#work4{
		background-image: url(images/works/smush_lips_web_bw.jpg);
}

#work4:hover{
		background-image: url(images/works/smush_lips_web_red.jpg);
}


#work4 p {
	color: black;
	font-size: 38px;
	transform: rotate(-90deg) translate(-10px, 288px);
}

#work5{
		background-image: url(images/works/feed_mtl_web_bw.jpg);
}

#work5:hover {
		background-image: url(images/works/feed_mtl_web_red.jpg);
}

#work5 p {
	color: black;
	font-size: 38px;
	transform: rotate(-90deg) translate(-10px, 275px);
}

#work6{
		background-image: url(images/works/synacor_web_bw.jpg);
}

#work6:hover {
		background-image: url(images/works/synacor_web_red.jpg);
}

#work6 p {
	color: black;
	font-size: 38px;
	transform: rotate(-90deg) translate(-10px, 276px);
}

#work7{
		background-image: url(images/works/poster_series_web_bw.jpg);
}

#work7:hover{
		background-image: url(images/works/poster_series_web_red.jpg);
}

#work7 p {
	color: black;
	font-size: 38px;
	transform: rotate(-90deg) translate(-10px, 234px);
}

#work8{
		background-image: url(images/works/jenny_web_bw.jpg);
}

#work8:hover{
		background-image: url(images/works/jenny_web_red.png);
}

#work8 p {
	color: black;
	font-size: 38px;
	transform: rotate(-90deg) translate(-10px, 241px);
}

#work9{
		background-image: url(images/works/lithesome_web_bw.jpg);
}

#work9:hover{
		background-image: url(images/works/lithesome_web_red.jpg);
}

#work9 p {
	color: black;
	font-size: 38px;
	transform: rotate(-90deg) translate(-10px, 262px);
}

#Layer_1-2 {
fill: black;
}

#angle1 {
height: 92vh;
width: 100%;
position: absolute;
opacity: 0.5;
}

* {box-sizing: border-box}
body {font-family: Helvetica, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 840px;
	height: 550px;
  position: relative;
  margin: auto;
	z-index: -99;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: -70px;
  width: auto;
  padding: 6px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
	cursor: pointer;
}

.prev {
	left: 30px;
}

/* Position the "next button" to the right */
.next {
  right: 35px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

#dots {
	margin-top: 60px;
	position: absolute;
	left: 44.5vw;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 1.5px;
  background-color: #ffffff;
  border-radius: 50%;
	border: 1.5px black solid;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: black;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#myface {
display: block;
	margin-top: -62px;
	margin-left: auto;
	margin-right: auto;
}

#aboutBox {
	display: block;
	margin-top: -150px;
}

#about {
	padding-left: 7vw;
	padding-right: 7vw;
	margin-top: 60px;
}

#aboutGraphic{
	color: black;
}

#about1 {
	width: 40%;
	display: inline-block;
	line-height: 24px;
}

#about1 h3{
	padding-left: 15px;
}


#aboutUi{
	color: black;
}

#about2 {
	width: 40%;
	display: inline-block;
	float: right;
	text-align: right;
	line-height: 24px;
}

h3{
	margin-bottom: 0px;
	font-size: 1.5em;
}

#about3 {
	width: 40%;
	display: inline-block;
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
		line-height: 24px;
}

#aboutMe{
	color: black;
}

#contact{
	margin-top: 40px;
	padding-top: 20%;
	width: 101vw;
	height: 97vh;
	color: white;
	background-color: #FF463E;
	position: relative;
	overflow: hidden;
	text-align: center;
	font-family: Helvetica, sans-serif;
}

.contacttext, h1 {
	font-size: 2em;
}

.contacttext, h2 {
	font-size: 1.25em;
	color: white;
}

a h2 {
	border-bottom: 1px solid white;
	width: 313px;
	margin-left: auto;
	margin-right: auto;
}

a h2:hover {
	border-bottom: 1px dotted white;
	width: 313px;
	margin-left: auto;
	margin-right: auto;
}

#annoyinga {
	text-decoration: none;
}

#bottomspace {
	height: 7.5vh;
	width: 100%;
}

footer{
	height: 8vh;
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #FF463E;
	line-height: 4.5vh;
	z-index: 99;
}

footer, p{
	padding-left: 20px;
	color: white;
	display: inline-block;
}

#logof {
	height: 30px;
	width: 33px;
	display: inline-block;
	margin-top: -3px;
}

.social {
	height: 30px;
	width: 30px;
	display: inline-block;
	margin-top: 2vh;
	float: right;
	margin-right: 20px;
	cursor: pointer;
}
