body {
background: white;
	overflow-x:hidden;
	max-width: 100vw;
}

html {
	height: 100%;
	max-width: 100vw;}

#logo {
	width: 70px;
	height: 70px;
	position: fixed;
	border: black solid 10px;
	z-index: 99;
}


#mobilenav {
	width: 80px;
	height: 80px;
	position: fixed;
	right: 0;
	margin: 0px;
	color: rgba(255,70,62,1);
	font-size: 36px;
	text-align: center;
	cursor:pointer;
	line-height: 80px;
	z-index: 3;
}

#header {
	max-width: 100vw;
}


#trigger {
	font-size:34px;
	cursor:pointer;
	position:fixed;
	z-index: 9;
	color:rgba(255,70,62);
	font-weight:bold;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background-color:rgba(255,70,62,0.97);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 22%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
	/*border:1px solid red;*/
}

.overlay a {
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    transition: 0.3s;
	text-transform:uppercase;
	font-weight:bold;
	font-family: Helvetica, sans-serif;
}

.overlay a:hover, .overlay a:focus {
    color:rgba(34,33,33,1.00);
}

.overlay a.current {
	color:rgba(34,33,33,1.00);
}

.closebtn {
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 46px !important;
	line-height:0px;
}

#triangle3 {
	width: 100%;
	height: 209.5px;
	position: relative;
	background-size: cover;
	background-position: center;
	z-index: -95;
	background-image: url(images/angles.png);
}

#blackbg {
	position: relative;
	width: 100%;
	background-color: black;
	margin-top: -4px;
	padding-left: 7vw;
	padding-right: 7vw;
	padding-top: 60px;
	padding-bottom: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.works {
	width: 300px;
	height: 250px;
	box-sizing: border-box;
	background-size: cover;
	background-position: center;
	display: inline-flex;
	margin: 20px;
	cursor: pointer;
	text-decoration: none;
}

#work1{
		background-image: url(images/works/carousel_web_bw.jpg);
}

#work1:hover{
		background-image: url(images/works/carousel_web.jpg);
}

#work1 p {
	color: black;
	font-size: 38px;
	transform: rotate(-90deg) translate(-15px, 270px);
			display: none;
}

#work2{
		background-image: url(images/works/river_parade_bw.jpg);
		cursor: pointer;
		text-decoration: none;
}

#work2:hover {
		color:yellow;
		background-image: url(images/works/river_parade.jpg);
}

#work2 p {
	color: black;
	font-size: 38px;
	box-sizing: border-box;
	transform: rotate(-90deg) translate(-15px, 238px);
	display: none;
}

#work3{
		background-image: url(images/works/les_anges_web_bw.jpg);
		cursor: pointer;
}

#work3:hover{
		background-image: url(images/works/les_anges_web.jpg);
}

#work3 p {
	color: black;
	font-size: 34px;
	transform: rotate(-90deg) translate(-10px, 230px);
		display: none;
}

#work4{
		background-image: url(images/works/smush_lips_web_bw.jpg);
		box-sizing: border-box;
}

#work4:hover{
		background-image: url(images/works/smush_lips_web.jpg);
}


#work4 p {
	color: black;
	font-size: 38px;
	transform: rotate(-90deg) translate(-10px, 288px);
		display: none;
}

#work5{
		background-image: url(images/works/feed_bw.jpg);
}

#work5:hover {
		background-image: url(images/works/feed.jpg);
}

#work5 p {
	color: black;
	font-size: 38px;
	transform: rotate(-90deg) translate(-10px, 275px);
		display: none;
}

#work6{
		background-image: url(images/works/synacor_web_bw.jpg);
}

#work6:hover {
		background-image: url(images/works/synacor_web_.jpg);
}

#work6 p {
	color: black;
	font-size: 38px;
	transform: rotate(-90deg) translate(-10px, 276px);
		display: none;
}

#work7{
		background-image: url(images/works/poster_bw.jpg);
				display: none;
}

#work7:hover{
		background-image: url(images/works/poster.jpg);
}

#work7 p {
	color: black;
	font-size: 38px;
	transform: rotate(-90deg) translate(-10px, 234px);
		display: none;
}

#work8{
		background-image: url(images/works/jenny_web_bw.jpg);
		display: none;
}

#work8:hover{
		background-image: url(images/works/jenny_web_red.png);
}

#work8 p {
	color: black;
	font-size: 38px;
	transform: rotate(-90deg) translate(-10px, 241px);
		display: none;
}

#work9{
		background-image: url(images/works/lithesome_web_bw.jpg);
		display: none;
}

#work9:hover{
		background-image: url(images/works/lithesome_web_red.jpg);
}

#work9 p {
	color: black;
	font-size: 38px;
	transform: rotate(-90deg) translate(-10px, 262px);
		display: none;
}

* {box-sizing: border-box}
body {font-family: Helvetica, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
	height: 425px;
  position: relative;
  margin: auto;
	z-index: -99;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: -9px;
  width: auto;
  padding: 6px;
  color: black;
  font-weight: bold;
  font-size: 22px;
  border-radius: 0 3px 3px 0;
	cursor: pointer;
}

.prev {
	left: 38%;
}

/* Position the "next button" to the right */
.next {
  right: 38.5%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: rgba(0,0,0,0.5);
}


#dots {
	margin: auto;
}

#dotholder {
	width: 100%;
	height: 10px;
	position: absolute;
	margin-top: 140px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 1.5px;
  background-color: #ffffff;
  border-radius: 50%;
	border: 1.5px black solid;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: black;
}

#myface {
display: block;
	margin-top: -62px;
	margin-left: auto;
	margin-right: auto;
	width:40%;
}

#aboutBox {
	display: block;
	margin-top: -150px;
}

#about {
	padding-left: 7vw;
	padding-right: 7vw;
	margin-top: 60px;
}

#aboutGraphic{
	color: black;
}

#about1 {
	width: 40%;
	display: inline-block;
	line-height: 24px;
}

#about1 h3{
	padding-left: 15px;
}


#aboutUi{
	color: black;
}

#about2 {
	width: 40%;
	display: inline-block;
	float: right;
	text-align: right;
	line-height: 24px;
}

h3{
	margin-bottom: 0px;
	font-size: 1.5em;
}

#about3 {
	width: 40%;
	display: inline-block;
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
		line-height: 24px;
}

#aboutMe{
	color: black;
}

#contact{
	margin-top: 40px;
	padding-top: 18%;
	width: 101vw;
	height: 100vh;
	color: white;
	background-color: #FF463E;
	position: relative;
	overflow: hidden;
	text-align: center;
	font-family: Helvetica, sans-serif;
}

.contacttext, h1 {
	font-size: 2em;
}

.contacttext, h2 {
	font-size: 1.25em;
	color: white;
}

a h2 {
	border-bottom: 1px solid white;
	width: 313px;
	margin-left: auto;
	margin-right: auto;
}

a h2:hover {
	border-bottom: 1px dotted white;
	width: 313px;
	margin-left: auto;
	margin-right: auto;
}

#annoyinga {
	text-decoration: none;
}

#topbtn {
	transform: rotate(-90deg);
	color: white;
	text-decoration: none;
	font-size: 30px;
	float: right;
	padding: 40px;
	margin-top: 10px;
}

#topbtn:hover {
	margin-top: 5px;
	transition: 0.5s;
}

footer{
	height: 8vh;
	width: 100vw;
	position: fixed;
	bottom: 0;
	background-color: #FF463E;
	line-height: 4.5vh;
	z-index: 99;
}

footer, p{
	padding-left: 20px;
	color: white;
	display: inline-block;
}

#logof {
	height: 30px;
	width: 33px;
	display: inline-block;
	margin-top: -3px;
}

.social {
	height: 30px;
	width: 30px;
	display: inline-block;
	margin-top: 2vh;
	float: right;
	margin-right: 20px;
	cursor: pointer;
}


@media only screen and (max-width: 750px) {
    /* For mobile phones: */

		#logo {
			width: 60px;
			height: 60px;
			position: fixed;
			border: black solid 10px;
			z-index: 99;
		}

		#mobilenav {
			width: 60px;
			height: 60px;
			font-size: 36px;
			line-height: 60px;
		}

		.overlay a {
		    padding: 15px;
		    font-size: 26px;
		}

		.closebtn {
		    top: 20px;
		    right: 7px;
		    font-size: 46px !important;
		}

		#triangle3 {
			width: 100%;
			height: 105px;
			position: relative;
			background-size: cover;
			background-position: center;
			z-index: -95;
			margin-top: -30px;
			background-image: url(images/angles2.png);
		}

		.slideshow-container {
		  max-width: 550px;
			height:  400px;
			padding-top: 70px;
		}

		.prev, .next {
		  top: -40px;
		  padding: 6px;
		  font-size: 30px;
		}

		.prev {
			left: 20px;
		}

		.next {
		  right: 25px;
		  border-radius: 3px 0 0 3px;
		}

		#dotholder {
			width: 100%;
			height: 10px;
			position: absolute;
			margin-top: 0px;
		}

		#myface {
			margin-top: -60px;
			width:70%;
			z-index: -99;
		}

		#aboutBox {
			display: block;
			margin-top: -150px;
		}

		#about1 {
			width: 305px;
			display: block;
			line-height: 24px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			padding-top: 140px;
		}

		#about2 {
			width: 100%;
			display: block;
			line-height: 24px;
			text-align: center;
			margin-left: auto;
			margin-right: 0 auto;
			margin-bottom: 26px;
		}

		#aboutUi {
			width: 305px;
		}

		#about1 h3{
			padding-left: 0px;
		}

		#about h3 {
			display: block;
			width: 100%;
		}

		#about3 {
			width: 305px;
			display: block;
			line-height: 24px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}

		#contact{
			padding-top: 55%;
		}

		.contacttext, h1 {
			font-size: 1em;
		}

		.contacttext, h2 {
			font-size: 0.8em;
			color: white;
		}

		a h2 {
			width: 200px;
		}

		a h2:hover {
			width: 200px;
		}

		footer{
			height: 8vh;
			line-height: 4.15vh;
		}

		footer, p{
			font-size: 14.5px;
		}

		#logof {
			height: 23px;
			width: 25px;
			margin-top: -2px;
		}

		.social {
			height: 25px;
			width: 25px;
			margin-top: 2.35vh;
		}

		#work1 p {
			color: black;
			font-size: 38px;
			transform: rotate(-90deg) translate(-15px, 254px);
		}

		#work2 p {
			color: black;
			font-size: 38px;
			overflow: hidden;
			box-sizing: border-box;
			transform: rotate(-90deg) translate(-15px, 220px);
		}

		#work3 p {
			color: black;
			font-size: 34px;
			transform: rotate(-90deg) translate(-10px, 212px);
		}

		#work4 p {
			color: black;
			font-size: 38px;
			transform: rotate(-90deg) translate(-10px, 270px);
		}

		#work5 p {
			color: black;
			font-size: 38px;
			transform: rotate(-90deg) translate(-10px, 258px);
		}

		#work6 p {
			color: black;
			font-size: 38px;
			transform: rotate(-90deg) translate(-10px, 258px);
		}

		#work7 p {
			color: black;
			font-size: 38px;
			transform: rotate(-90deg) translate(-10px, 216px);
		}

		#work8 p {
			color: black;
			font-size: 38px;
			transform: rotate(-90deg) translate(-10px, 224px);
		}

		#work9 p {
			color: black;
			font-size: 38px;
			transform: rotate(-90deg) translate(-10px, 245px);
		}

}
/*
@media only screen and (max-width: 850px) { */
    /* For tablets: */
/*
		#logo {
			width: 60px;
			height: 60px;
			position: fixed;
			border: black solid 10px;
			z-index: 99;
		} */

		/* #triangle1 {
		  border-left-width: 49.7vw;
		  border-top-width: 100px;
		}

		#triangle2 {
		  border-right-width: 49.6vw;
		  border-top-width: 100px;
		} */
/*
		#mobilenav {
			width: 60px;
			height: 60px;
			font-size: 36px;
			line-height: 60px;
		}

		.closebtn {
				top: 20px;
				right: 7px;
				font-size: 46px !important;
		}

		.slideshow-container {
			max-width: 650px;
			height: 450px;
			padding-top: 40px;
		}

		.prev, .next {
			top: -45px;
			padding: 6px;
			font-size: 30px;
		}

		#dots {
			margin-top: 60px;
			position: absolute;
			left: 40vw;
		}


} */
