
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.italics {
  display: inline;
  font-style: italic;
}

.row > .column {
  width: 60vw;
  height: 60vw;
  float: right;
  overflow: hidden;
  margin-bottom: 5px;
}

#footerbar {
  height: 8vh;
  width: 60vw;
  float: right;
  background-color: rgba(255, 70, 62, 1.00);
  margin-top: -18px;
  padding-top: 1px;
}

#headerimgright {
  width: 60vw;
  height: 100vh;
  overflow: hidden;
  float: right;
  margin-bottom: 5px;
}

.headerimg {
  height: 100vh;
  float: left;
}

.row {
    margin-left: 8vw;
    margin-bottom: 1vw;
    padding-top: 1vw;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: black;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  margin-right: 45px;
  margin-top: 5px;
  z-index: 99;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  width:70vh;
  margin: auto;
  display: block;
}

.lightboximg {
  margin-top: 10vh;
  width: 100%;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  font-family: Linotype-sabon, serif;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.caption-container {
  text-align: center;
  padding: 2px 16px;
  color: black;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projectdesc {
  background-color: white;
  width: 40vw;
  float: left;
  height: 100vh;
  position: fixed;
  padding: 3vw;
  overflow-y: scroll;
}

.description {
  display: inline-block;
  color: black;
  font-size: 0.9em;
  font-family: Avenir, sans-serif;
}

.slidetext {
  color: rgba(255, 70, 62, 1.00);
  width: 40.25vw;
  display: inline-block;
  height: auto;
  float: left;
}

.slidetopic {
  font-size: 0.9em;
  font-family: Avenir, sans-serif;
  padding-top: 4vw;
}

.slidetitle {
  font-size: 2.5em;
  font-family: linotype-sabon, serif;
  line-height: normal;
  margin-top: 1vw;
}

.slideppl {
  font-size: 0.9em;
  font-family: Avenir, sans-serif;
  margin-top: -2em;
}

.minidesc {
  float: right;
  width: 60vw;
  padding: 3vw;
  font-size: 0.9em;
  font-family: Avenir, sans-serif;
  background-color: white ;
  color: black;
  margin-top: -5px;
  margin-bottom: 0px;
  border-left: 1.5px #ededed solid;
}

.projprev,
.projnext {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 11px;
  color: white;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
  font-family: Avenir, sans-serif;
}

#x{
  padding: 20px;
}

.projnext {
  right: 2vw;
}

.projprev {
  left: 2vw;
}

.projnext:hover {
  color: rgba(255, 255, 255, 0.5);
}

.projprev:hover {
  color: rgba(255, 255, 255, 0.5);
}

.visitimg:hover {
  opacity: 70%;
}

@media screen and (max-width: 800px) {
    /* For mobile phones: */

    .minidesc {
      float: right;
      width: 100vw;
      height: auto;
      padding: 4vw;
      margin-top: 0px;
      border-left: 0px #ededed solid;
    }

    #headerimgright {
      width: 100vw;
      height: 80vw;
      margin-bottom: 5px;
      display: block;
    }

    #footerbar {
      width: 100vw;
      height: 8vw;
    }

    .headerimg {
      height: 100%;
    }

    .row > .column {
      width: 100vw;
      height: 100vw;
      display: block;
    }

    .projectdesc {
      display: block;
      position: relative;
      width: 100vw;
      height: auto;
      padding-top: 60px;
    }

    .description {
      width: 90%;
      margin-left: 0vw;
      display: block;
      height: auto;
    }

    .slidetext {
      width: 90%;
      height: auto;
      display: block;
    }

    .projprev,
    .projnext {
      padding: 0px;
      margin-top: 8px;
      font-size: 1em;
      margin-right: 2vw;
    }

    .projnext {
      right: 1.5vw;
    }

    .projprev {
      left: 1.5vw;
    }

    .modal-content {
      width: 85vw;
      max-width: 750px;
      overflow: hidden;
    }

    .lightboximg {
      margin-top: 15vh;
      height: auto;
      width: 85vw;
    }

    .caption {
      width: 75vw;
    }

  }
