
body {
  margin: 0;
  background: #ffffff;
  cursor: url('images/cursor.png'), auto;
}

* {
  box-sizing: border-box;
}

.italics {
  display: inline;
  font-style: italic;
}

.cursor {
  border-bottom: 1px solid #b3b3b3;
  border-top: 1px solid #b3b3b3;
  cursor: pointer;
}

.row > .column {
  width: 60vw;
  height: 60vw;
  float: right;
  overflow: hidden;
}

.column{
  margin-bottom: 15px;
}

.row > .column2 {
  width: 60vw;
  height: auto;
  float: right;
  overflow: hidden;
  margin-bottom: 15px;
}

#background-video {
width: 60vw;
}

#footerbar {
  height: 8vh;
  width: 60vw;
  float: right;
  margin-top: -18px;
  padding-top: 1px;
}

#headerimgright {
  width: 60vw;
  height: 100vh;
  overflow: hidden;
  float: right;
  margin-bottom: 15px;
}

#headerimgright2 {
  width: 60vw;
  overflow: hidden;
  float: right;
  margin-bottom: 15px;
}

.headerimg3{
  cursor: pointer;
  border-bottom: solid 1px #000000;
}

.headerimg {
  height: 100vh;
  float: left;
}

.row {
    margin-left: 8vw;
    margin-bottom: 1vw;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.projectlink {
  text-decoration:underline;
  color: #000000;
	font-weight: 700;
  font-family:"commuters-sans",sans-serif;
  font-size:0.9em; 
}

.projectlink:hover {
  font-style: italic;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ffffff;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: #000000;
  position: absolute;
  top: 10vh;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  margin-right: 45px;
  margin-top: 5px;
  z-index: 99;
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  width:70vh;
  margin: auto;
  display: block;
}

.lightboximg {
  margin-top: 10vh;
  width: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #000000;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  font-family: "ogg", serif;
font-weight: 400;
font-style: normal;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.caption-container {
  text-align: center;
  padding: 2px 16px;
  color: #000000;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projectdesc {
  width: 40vw;
  float: left;
  height: 100vh;
  position: fixed;
  padding: 3vw;
  overflow-y: scroll;
  border-right: #b3b3b3 solid 1.5px;
}

.description {
  display: inline-block;
  color: #000000;
  font-size: 1em;
	font-weight: 300;
  font-family: "commuters-sans", sans-serif;
}

.slidetext {
  width: 40.25vw;
  display: inline-block;
  height: auto;
  float: left;
  color: #000000;
  margin-top: 20px;
}

.slidetopic {
  font-size: 1em;
  font-family: "commuters-sans", sans-serif;
  padding-top: 2vw;
    color: #000000;
text-transform: uppercase;
}

.slidetitle {
  font-size: 3em;
  font-family: "ogg", serif;
    color: #000000;
font-weight: 400;
font-style: normal;
  line-height: 1.10;
  margin-top: 0.5vw;
}

.slideppl {
  font-size: 1em;
  font-family: "commuters-sans", sans-serif;
  margin-top: -2em;
}

.minidesc {
  float: right;
  width: 60vw;
  padding: 10px 20px 20px 20px;
  font-size: 1em;
  font-family: "commuters-sans", sans-serif;
  background-color: #ffffff ;
  color: #000000;
  margin-top: -5px;
  margin-bottom: 0px;
}

.projprev,
.projnext {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding-top: 21px;
  padding-right: 21px;
  padding-bottom: 31px;
  color: #000000;
  font-size: 22px;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
  font-family: "commuters-sans", sans-serif;
}

#x{
  padding: 20px;
}

.projnext {
  right: 2vw;
	font-family: "ogg", serif;
}

.projprev {
  left: 2vw;
}

.projnext:hover {
  font-style: italic;
  text-decoration: none;
}

.projprev:hover {
  font-style: italic;
}

.visitimg:hover {
  opacity: 70%;
}

.contacttext,a h2 {
    text-decoration: underline;
}

.contacttext,a h2:hover {
  font-style: italic;
}

@media screen and (max-width: 800px) {
    /* For mobile phones: */

    .minidesc {
      float: right;
      width: 100vw;
      height: auto;
      padding: 2vw;
      margin-top: 0px;
    }

    #headerimgright {
      width: 100vw;
      height: 80vw;
      margin-bottom: 15px;
      display: block;
    }

    #footerbar {
      width: 100vw;
      height: 8vw;
    }

    .headerimg {
      height: 100%;
    }

    .row > .column {
      width: 100vw;
      height: 100vw;
      display: block;
    }

    #headerimgright2 {
      width: 100vw;
		background-size: cover;
      display: block;
    }

    .row > .column2 {
      width: 100vw;
      display: block;
    }

    .projectdesc {
      display: block;
      position: relative;
      width: 100vw;
      height: auto;
      padding-top: 60px;
    }

    .description {
      width: 90%;
      margin-left: 0vw;
      display: block;
      height: auto;
    }

    .slidetext {
      width: 90%;
      height: auto;
      display: block;
    }

    .projprev,
    .projnext {
      padding: 5px;
      margin-top: 8px;
      font-size: 1.5em;
      margin-right: 2vw;
    }

    .projnext {
      right: 1.5vw;
    }

    .projprev {
      left: 1.5vw;
    }

    .modal-content {
      width: 85vw;
      max-width: 750px;
      overflow: hidden;
    }

    .lightboximg {
      margin-top: 15vh;
      height: auto;
      width: 85vw;
    }

    .caption {
      width: 75vw;
    }

    .headerimg3{
      border-top: solid 1px #b3b3b3;
    }

    #background-video {
    display: none;
    }


  }
